<div >
	<div >
		<center><h3>Bukti Registrasi Akun Karyawan PT. TUGU PRATAMA INDONESIA</h3></center>

		<p style="text-align:justify; text-indent: 40px;">Terimakasih anda telah melakukan registrasi Akun Karyawan <b>PT. TUGU PRATAMA INDONESIA</b>. Berikut ini adalah informasi mengenai Registrasi Akun Anda :</p>

	<pre>
	Nomor ID	: 123456789012
	Nama		: Moch. Arfian Ardiansyah
	Group		: IT PROGRAMMER
	Lantai		: 2
	Email		: bootlooplagi@gmail.com
	Jabatan		: STAFF

	Username	: <b><?php echo $as; ?></b>
	Password	: <b><?php echo $as; ?></b>
	</pre>

			<p style="text-align:justify; text-indent: 40px;">Mohon untuk tidak memberitahukan password kepada siapapun. Silahkan <a href="http://www.myogir.com/office_appliance" target="_blank">KLIK DISINI</a> untuk login.<br>
			</p>
		<p style="text-align:justify; text-indent: 40px;">Terimakasih.</p>
	</div>
</div>